.logo {
    font-size: 5em;
}

header, footer {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    color: black;
    padding: 1%;
}

footer > h4 {
  margin: 1%;
}

.nav {
    display: grid;
    grid-template-columns: 10% 10% 10%;
    text-align: center;
    height: 3em;
    position: sticky;
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    z-index: 1;
}
  
.nav > a {
    color: black;
    display: grid;
    align-items: center;
    min-width: fit-content;
    padding-left: 10%;
    padding-right: 10%;
}
  
.nav > a:hover:not(.openPage) {
    color: white;
    transition: color 0.1s;
    background-color: darkgray;
    transition: background-color 0.1s;
}
  
.openPage { 
    background-color: darkgrey;
}
  
.openPage:hover {
    color: white;
    transition: color 0.1s;
    background-color: gray;
    transition: background-color 0.1s;
}
  
input {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    font-size: medium;
    padding: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
}
  
input:hover {
    background-color: gray;
    transition: background-color 0.1s;
}

.container {
    display: grid;
    grid-template-columns: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

img:not(.pfp) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.pfp {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px;
}

div > hr {
    margin: 0;
    margin-top: 10%;
}

.overlay {
   text-align: center;
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-size: xx-large;
   font-weight: bold;
   position: absolute;
   top: 30%;
   width: 100%;
   height: fit-content;
}

.element {
    position: relative;
}

.description {
    text-align: center;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.description:hover {
    opacity: 100;
    transition: opacity 0.5s;
}

.info {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-weight: bold;
}

.age {
    font-size: 3em;
}

.mHead, .vHead {
    font-size: 2em;
}

.mission, .vision { 
    font-family: 'Courier New', Courier, monospace;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

section {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 5%;
    row-gap: 5%;
}

.links {
    font-weight: bold;
    font-size: large;
    color: black;
}

@media screen and (max-width: 750px) {
  
    .nav {
      margin-left: 0;
      margin-right: 0;
      grid-template-columns: auto auto auto;
    }
  
    footer {
      margin-left: 0;
      margin-right: 0;
      padding: 5%;
      column-gap: 5%;
    }

    footer > h4 {
        margin: 2%;
    }

    .overlay {
        top: 20%;
    }

    section {
        display: block;
    }

    img {
        margin-top: 5%;
    }

    img:not(.pfp) {
        min-height: 15em;
    }

    div > hr {
        visibility: hidden;
    }

  }

  .breakline {
    margin-top: 10%;
  }